footer
  div.footer-nav
    ul
      li 
        a(href="#") About Us
      li 
        a(href="#") Customer Service
      li 
        a(href="#") Privacy Policy
  
  div.copywrite
    - var currentYear = new Date().getFullYear();
    p !{"© " + currentYear + " UNKNOW"} 