extends ./layout.pug

block body
  div.container.product-details
    - var image = productContent.getImage('product.image')
    - var imageURL = image ? image.url : ""
    - var price = productContent.getNumber('product.price')
    - var title = productContent.getStructuredText('product.title')
    - var description = productContent.getStructuredText('product.description')
    
    div.product-image
      img(src=imageURL)
    div.product-info
      != title ? title.asHtml(ctx.linkResolver) : ""
      p.product-price 
        != price ? "$" + price : ''
      div.product-description
        != description ? description.asHtml(ctx.linkResolver) : ""
      
      include ./partials/add-to-cart-button.pug
      
  if relatedProducts.results_size > 0
    div.container.recommended
      h2 Recommended
      div.recommended-wrapper
        for relatedProduct in relatedProducts.results
          - var relatedImage = relatedProduct.getImage('product.image')
          - var relatedImageURL = relatedImage ? relatedImage.getView('listing').url : ""
          - var relatedPrice = relatedProduct.getNumber('product.price')
          - var relatedTitle = relatedProduct.getStructuredText('product.title')
          
          div.recommended-product
            a(href=ctx.linkResolver(relatedProduct))
              img.recommended-image(src=relatedImageURL)
              p.recommended-title
                != relatedTitle ? relatedTitle.asText() : ""
              p.recommended-price 
                != relatedPrice ? "$" + relatedPrice : ''